.awardBox {
  text-align: left;
}

.location {
  font-weight: 700;
}

.title {
  color: #153351;
}

@media (min-width: 960px) {
  .title {
    font-size: 1.4rem;
  }
  .location {
    font-size: 1.5rem;
  }
}
@media (max-width: 960px) {
  .title {
    font-size: 1.3rem;
  }
  .location {
    font-size: 1.4rem;
  }
}

.date {
  color: gray;
}
