.mainDiv {
    text-align: left;
}

.awardDate {
    color: gray;
}

.awardTitle {
    color: #153351;

}

@media (min-width: 960px) {
    .awardTitle {
        font-size: 1.4rem;
    }
    .awardLocation {
        font-size: 1.5rem;
    }
  }
  @media (max-width: 960px) {
    .awardTitle {
        font-size: 1.3rem;
    }
    .awardLocation {
        font-size: 1.4rem;
    }
}

.awardLocation {
    font-weight: 700;
}