.bioBox {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.date {
  font-size: 1.5rem;
  font-weight: 700;
}
.locationLink {
  color: #273f5c;
}

.locationLink:hover {
  color: black;
}



@media (min-width: 960px) {
  .date {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.3rem;
  }
}
@media (max-width: 960px) {
  .date {
    font-size: 1.4rem;
  }
  .description {
    font-size: 1.2rem;
  }
}
