.roundedImage {
  border-radius: 100px;
}

.title {
  font-weight: 800;
  padding-bottom: 1rem;
}

.menu {
  font-size: 1.7rem;
}

@media (min-width: 960px) {
  .titleMenu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .titleMenu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.header {
  padding: 0.5rem;
  margin-bottom: 3rem;
  align-items: center;
  vertical-align: bottom;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}