.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    vertical-align: top;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    max-width: 1000px;
}

.main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}