.linkObject {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  min-height: 1.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.3rem;
  margin-right: 5px;
  border-width: 0.1p;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  color: white;
}

.linkObject:hover {
  color: #153351;
}

.linkName {
  margin-left: 0.5rem;
}
