.badgeObject {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.2rem;
  margin-right: 5px;
  height: 1.3rem;
  line-height: 1.1rem;
}

.badgeTitle {
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
}
