.projectOutherBox {
  border-radius: 10px;
  border-width: 2px;
  width: 24rem;
}

.projectInnerBox {
  padding: 1rem;
  text-align: left;
}

.boxTail {
  overflow: hidden;
  height: auto;
  padding-top: 0.5rem;
}

.boxHome {
  text-align: left;
  width: 24rem;
  border-radius: 10px;
  border-width: 2px;
  margin: 1rem;
}

.projectName {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

.tagRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
}

.tag {
  margin-right: 0.3rem;
}

.sectionObject {
  margin-bottom: 0.7rem;
}

.linkRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.link {
  margin-right: 0.3rem;
}

.linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #edf2f7;
  text-align: center;
  height: 2rem;
}

.linkBox:hover {
  background-color: #e2e8f0;
}