.skillBars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 900px;
  text-align: left;
}

.projectAndContribution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 960px;
}

@media (min-width: 960px) {
  .itemIcon {
    margin-right: 2rem;
  }
}
@media (max-width: 960px) {
  .itemIcon {
    margin-right: 1rem;
  }
}
