.component {
  margin: 3rem;
}

.introduction {
  font-size: 1.4rem;
}

.skillBars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 700px;
  text-align: left;
}

.projectAndContribution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 960px;
}

.subtitles {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

@media (min-width: 960px) {
  .itemIcon {
    margin-right: 2rem;
  }
}
@media (max-width: 960px) {
  .itemIcon {
    margin-right: 1rem;
  }
}
