.projectTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projectColumn {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.projectItem {
    margin-bottom: 1rem;
}