@media (min-width: 960px) {
  .container, .smallContainer {
    margin: 2rem;

    .pageDescription {
      font-size: 1.4rem;
    }
  }
}
@media (max-width: 960px) {
  .container, .smallContainer {
    margin: 1.5rem;

    .pageDescription {
      font-size: 1.2rem;
    }
  }
}

.smallContainer {
  width: min(100vh, 600px);
  text-align: left;
}

.pageDescription {
  max-width: min(100vw, 1000px);
}
