@media (min-width: 960px) {
  .container {
    margin: 2rem;

    .pageDescription {
      font-size: 1.4rem;
    }
  }
}
@media (max-width: 960px) {
  .container {
    margin: 1.5rem;

    .pageDescription {
      font-size: 1.2rem;
    }
  }
}

.pageDescription {
  max-width: min(100vw, 1000px);
}
