@media (min-width: 960px) {
  .pageDescription {
    font-size: 1.4rem;
  }

  .container {
    margin: 2rem;
  }
}
@media (max-width: 960px) {
  .pageDescription {
    font-size: 1.2rem;
  }

  .container {
    margin: 1.5rem;
  }
}

.pageDescription {
  max-width: min(100vw, 1000px);
}
